<div><b>{{fieldname}}</b>
	<label 
		for="{{prefix}}" 
		class="control-radio__label"
		>
		<div class="control-radio">
			<input 
				type="radio" 
				name="{{fieldname}}" 
				value="{{loc_val}}" 
				>
		<div 
			class="control-radio__helper"></div>
		</div>
		<span 
			class="control-radio-label-text element__text" 
			{% if color %} style="background: {{color}}; padding: 2px 6px; border-radius: 3px;" 
			{% endif %}>{{loc_val}}</span>
	</label>

	<label 
		for="{{prefix}}" 
		class="control-radio__label"
		>
		<div class="control-radio">
			<input 
				type="radio" 
				name="{{fieldname}}" 
				value="{{rem_val}}" 
				checked
				>
		<div 
			class="control-radio__helper"></div>
		</div>
		<span 
			class="control-radio-label-text element__text" 
			{% if color %} style="background: {{color}}; padding: 2px 6px; border-radius: 3px;" 
			{% endif %}>{{rem_val}}</span>
	</label>
</div>